

<%= render 'shared/page_title', title: "showing all themes" %>

<%= search_form_for @q do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
<% end %>

<div align="center">
    <%=will_paginate%>
</div>

<%= render 'theme', obj: @themes %>

<div align="center">
    <%=will_paginate%>
</div>