<%= render 'shared/page_title', title: @theme.name %>

<div class="well col-md-8 col-md-offset-2">
    <h4 class = "center description"><strong>Steps:</strong></h4>
    <hr/>
    <%=simple_format(@theme.description) %>
    <hr />
    <% if @theme.tools.any? %>
        <p>Tools: <%= render @theme.tools %></p>
    <% end %>
    <div class="pull-right">
        <p class = "center">
           <em>Created by:</em>
        </p>
        <p class="center">
            <%= link_to gravatar_for(@theme.photographer), photographer_path(@theme.photographer) %>
        </p>
        <p class="center">
            <small><%= @theme.photographer.togname.capitalize %></small>
            <div class="pull-right"><%= time_ago_in_words(@theme.created_at) %> ago</div>
        </p>
    </div>
    <div class="theme-actions">
        <% if logged_in? && (current_photographer == @theme.photographer || current_photographer.admin?) %>
            <%= link_to "Edit this theme", edit_theme_path(@theme), class: "btn btn-xs btn-warning" %>
            <%= link_to "Delete this theme", theme_path(@theme), method: :delete,
                                             data: { confirm: "Are you sure you want to delete this theme?" },
                                             class: "btn btn-xs btn-danger" %>
        <% end %>
        <%= link_to "Return to themes listing", themes_path, class: "btn btn-xs btn-primary" %>
    </div>
</div
<% if logged_in? %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Comments: </h3>
            <hr />
            <%= form_for([@theme, @comment], remote: true, :html => {class: "form-horizontal", role:"form"})do|f| %>
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :description, "Comment" %>
                </div>
                <div class="col-md-8">
                    <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter Comment Here"%>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <%= f.submit "Submit Comment", class: "btn btn-primary btn-lg btn-xlarge"%>
                </div>
            </div>
            <% end %>
            <hr />
        </div>
    </div>
<% end %>

<% if @theme.comments !=0 %>
    <div class= "row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Prior Comments:</h3>
                <div id = "messages">
                   <%=  render partial: 'comments/comments', object: @comments %>
                </div>
        </div>
    </div>
<% else %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>No Comments yet!</h3>
    </div>
</div>
<% end %>